<!DOCTYPE html>
<html>
  <%= render 'partials/head' %>
  <body>
    <%= render 'partials/header' %>
    <div class="content">
      <%= yield %>
    </div>
    <%= render 'partials/footer' %>
  </body>
</html>
